.hbox {
    -fx-background-color: #336699;
}
.vbox {
    -fx-border-color:black;
    -fx-border-width:1;
}

.grid {
    -fx-border-color:black;
    -fx-border-width:1;    
}

.title {
    -fx-font-family: verdana;
    -fx-font-size: 20;
}


.outputArea {
    -fx-vbar-policy: always;
    -fx-hbar-policy: always;
}


.log-area {
    -fx-vbar-policy:always;
    -fx-hbar-policy:always;
}

#subscriptionByPerson .table-cell {
    -fx-alignment:CENTER_RIGHT;
}

